db=postgres
db-username={{ postgresql_username }}
db-password={{ postgresql_password }}
db-url={{ postgresql_connect }}
db-pool-initial-size={{ initial_pool_size }}
db-pool-min-size={{ min_pool_size }}
db-pool-max-size={{ max_pool_size }}
proxy=edge
hostname-path=auth
hostname-strict=false
# spi-hostname-default-strict=false
http-relative-path=auth
health-enabled={{ keycloak_health_check_enabled }}
log=file
log-file={{ keycloak_home }}/log/keycloak.log
{% if keycloak_TokenEndpointLogger_enabled %}
log-level=org.keycloak.protocol.oidc.endpoints.TokenEndpoint:trace
{% endif %}
spi-connections-http-client-default-connection-pool-size=1024
spi-connections-http-client-default-max-pooled-per-route=128
spi-sticky-session-encoder-infinispan-should-attach-route=false
cache-config-file=tcpping-cache-ispn.xml
spi-connections-jpa-legacy-migration-strategy={{ migration_strategy }}
spi-connections-jpa-legacy-migration-export={{ keycloak_home }}/init-scripts/manual-database-migrations.sql
spi-user-service-spi-default-enabled=true
spi-user-service-spi-default-base-path={{ keycloak_basepath }}
spi-user-service-spi-default-subject=keycloak
spi-user-service-spi-default-issuer=newton-technology/keycloak
spi-user-service-spi-default-audience={{ keycloak_audience }}
spi-user-service-spi-default-token-expires-in-seconds={{ keycloak_tokenExpiresInSeconds }}
spi-user-service-spi-default-short-flow-phones={{ keycloak_shortFlowPhones }}
spi-token-message-service-default-enabled=true
spi-token-message-service-default-phone-code-expires-in-seconds={{ keycloak_phoneCodeExpiresInSeconds }}
spi-token-message-service-default-email-code-expires-in-seconds={{ keycloak_emailCodeExpiresInSeconds }}
spi-token-message-service-default-phone-code-can-be-resubmitted-in-seconds={{ keycloak_phoneCodeCanBeResubmittedInSeconds }}
spi-token-message-service-default-email-code-canBeResubmittedInSeconds={{ keycloak_emailCodeCanBeResubmittedInSeconds }}
spi-token-message-service-default-phone-max-attempts-per-hour={{ keycloak_phoneMaxAttemptsPerHour }}
spi-token-message-service-default-email-max-attempts-per-hour={{ keycloak_emailCodeExpiresInSeconds }}
spi-token-message-service-default-code-digits-number={{ keycloak_codeDigitsNumber }}
spi-token-message-service-default-demo-phone-enabled={{ keycloak_demoPhoneEnabled }}
spi-token-message-service-default-demo-phone-code={{ keycloak_demoPhoneCode }}
spi-token-message-service-default-demo-phones={{ keycloak_demoPhones }}
spi-notification-sender-service-default-enabled=true
spi-notification-sender-service-default-bootstrap-servers={{ bootstrap_servers }}
spi-notification-sender-service-default-topic={{ notification_topic }}
spi-token-code-service-default-enabled=true
spi-token-code-service-default-delete-expired-tokens-interval-millis={{ keycloak_deleteExpiredTokensIntervalMillis }}
spi-token-code-service-default-max-attempts-oTPCheck={{ keycloak_maxAttemptsOTPCheck }}
spi-user-provider=mem2
spi-realm-restapi-extension-roles-username={{ keycloak_spiRealmRestapiExtensionRolesUsername }}
spi-realm-restapi-extension-roles-password={{ keycloak_spiRealmRestapiExtensionRolesPassword }}
