-- Запустить перед установкой kc-15
update databasechangelog_tezisjpaen set md5sum = '7:5e0544e06b5a5ca49d05901c094217b9' where id = 'token-code-6.0';
update databasechangelog_tezisjpaen set md5sum = '7:3520e0c1c635e73c867e2963ce8fde95' where id = 'token-code-6.1';
update databasechangelog_tezisjpaen set md5sum = '7:2b4729a7c3e5dec0807daec6febaa1f8' where id = 'token-code-6.2';
update databasechangelog_tezisjpaen set md5sum = '7:a7c1091ddaf59f784575c5f7763e3b19' where id = 'token-code-6.3';
update databasechangelog_tezisjpaen set md5sum = '7:9795f1fa8ea43f3777013689fa2c7f0f' where id = 'token-code-6.4';
