-- Запустить перед установкой kc-18 --
-- !!! Обратно несовместимо с kc-15 !!! --

update databasechangelog_tezisjpaen set md5sum = '8:c80a4a80c0b303d5182b2146d340a6c5' where id = 'token-code-6.0';
update databasechangelog_tezisjpaen set md5sum = '8:a09fdb3e6f6b784d667be4da558881c2' where id = 'token-code-6.1';
update databasechangelog_tezisjpaen set md5sum = '8:e359df270f32cc9a74b18e686c703d60' where id = 'token-code-6.2';
update databasechangelog_tezisjpaen set md5sum = '8:388e395d7507ca71ce7526f8c4285888' where id = 'token-code-6.3';
update databasechangelog_tezisjpaen set md5sum = '8:35e10c98273f9019882b385ed4d4746a' where id = 'token-code-6.4';
